*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li>a{
    text-decoration: none;
}

.nav ul{
    list-style: none;
}

#header {
    width: 100%;
    margin: 0 auto 1rem auto;
}

.logo{
    width: 30%;
    margin: 0 auto;
    background-color: rgb(86, 240, 188);
    display: inline-block;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
}

.logo span{
    font-size: 2rem;
}

.nav{
    margin: 0 auto;
    display: inline-block;
}
