*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(17, 206, 231);
    /* display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: stretch; */
}

#main{
    background-image: url("../img/bg1.jpg");
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    min-height: calc(100vh - 6rem); 
    /* display: flex; */
}

#footer{
    background-color: darkgreen;
    width: 100%;
    min-height: 6rem;
    height: fit-content;
    /* display: flex; */
}
.all-btn{
    border-radius: 0.1rem;
    border: 0;
    cursor: pointer;
}
.all-btn:hover{
    box-shadow: 1px 1px 10px #ccc;
}
.control-btn{
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    flex: 0 0 auto;
    border-radius: 1rem;
}
.control-btn:hover{
    background-color: rgba(0, 0, 0, 0.4);
}

.hidden{
    display: none;
}
.visible{
    display: block;
}
.hidden-withoutpos{
    visibility: hidden;
}
.visible-withoutpos{
    visibility: visible;
}


.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 20;
    background-color: rgba(0,0,0,.8);
    display: none;
  }

.split-bar{
    border: 1px solid black;
    height: 80%;
}

li>a{
    text-decoration: none;
    text-align: center;
}

#main>ul{
    list-style: none;
}

.sider-bar-btn{
    position: fixed;
    background-color: rgba(191, 125, 235, 0.342);
    left: 0;
    top: calc(50% - 1.6rem);
    width: 1.2rem;
    height: 3.2rem; 
    border-top-right-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
    display: block;
    z-index: 80;
    transition: left 0.4s;
    line-height: 2.2;
    font-size: 1.5rem;
    font-weight: bold;
}
.sider-bar{
    position: fixed;
    left: -23vw;
    top: 0;
    background-color: rgb(11, 195, 228);
    height: 100vh;
    width: 23vw;
    overflow: scroll;
    z-index: 100;
    transition: all 0.4s;
}

.sider-bar-btn:hover{
    box-shadow: 1px 1px 10px #ccc;
    background-color: rgb(191, 125, 235);
    left: 23vw;
}
.sider-bar-btn:active{
    box-shadow: -1px -1px 10px #ccc;
    background-color: rgb(191, 125, 235);
}

.sider-bar-btn:hover+.sider-bar, .sider-bar:hover{
   left: 0;
}

.sider-bar-btn:hover~.overlay, .sider-bar:hover~.overlay{
    display: block;
}

.pop-window{
    position: absolute;
    background-color: lightblue;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    height: 44%;
    width: 42%;
    border-radius: 0.8rem;
    display: none;
    z-index: 90;
}

