.nav ul{
    list-style: none;
}

#header {
    width: 100%;
    height: fit-content;
    max-height: 30vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;
    box-shadow: 1px 1px 10px #ccc;
}

.logo{
    /* width: 30%; */
    background-color: rgb(86, 240, 188);
    /* display: inline-block; */
    padding: 0 1rem 0 1rem;
    text-align: center;
    font-size: 1.2rem;
    flex-grow: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
@keyframes logo-anime{
    0%      {transform: scale(1);}
    50%     {transform: scale(1.4);}
    100%    {transform: scale(1);}

}
.logo:hover{
    animation: logo-anime 1.8s;
}

.logo-img{
    height: 1.2em;
    width: 1.2em;
    display: inline-block;
}

.nav{
    margin: 0 auto;
    /* display: inline-block; */
    /* height: 100%; */
    flex-grow: 3;
    background-color: aquamarine;
}

.nav-ul-1{
    color: #2d3436;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.nav-ul-1>li{
    /* position: relative; */
    /* float: left; */
    background-color: transparent;
    text-align: center;
    padding: 1.2rem 2rem;
    position: relative;
    transition: all 0.3s;
    flex: 1 1 3rem;
}

.nav-ul-1>li:hover{
    background-color: teal;
    border-radius: 0.2rem;
    box-shadow: 1px 1px 10px #ccc;
    cursor: pointer;
}
.nav-ul-1>li>span::after{
    display: inline-block;
    content: '▼';
    margin-left: 5px;
    height: 12px;
    font-size: 0.9em;
}

.nav-ul-1>li:hover>span::after{      
    content: "▲";
}

.nav-ul-1>li:hover .nav-ul-2{
    display: block;
}

.nav-ul-2{
    overflow:auto;
    position: absolute;
    background-color: #f9f9f9;
    margin-top: 1rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    min-width: max-content;
    border-radius: 0.3rem;
    z-index: 70;
    display: none;
}
.nav-ul-2>li>a{
    display: block;
    text-align: center;
    padding: 0.8rem;
    transition: all 0.3s;
}
.nav-ul-2>li>a:hover{
    background-color: lightblue;
}

.header-search{
    background-color: antiquewhite;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-box{
    border: lightcoral solid 0.1rem;
    border-radius: 1.2rem;
    height: 2.4rem;
    margin-left: 1rem;
    margin-right: 2rem;
    flex: 1 1 14rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.search-box input{
    border: none;
    background-color: transparent;
    height: 1.8rem;
    margin-left: 2rem;
    flex: 1 1 auto;
}

.header-avator{
    width: 2.5rem;
    height: 2.5rem;
    background-color: darkgrey;
    margin-right: 1rem;
    flex: 0 0 2.5rem;
    position: relative;
    border-radius: 50%;
}
.header-avator:hover .avator-ul{
    display: block;
    right: 0;
    margin-top: 2.3rem;
    cursor: pointer;
}

@media (max-width: 672px){
    .header-search{
        display: none;
    }
    #main{
        background-color: rgb(17, 206, 231);
        background-image: none;
    }
}
@media (max-width: 330px){
    .logo{
        display: none;
    }
}

